<nav class="relative lg:px-20 px-4 h-24 py-4 flex justify-between items-center bg-white">
  <a class="text-3xl font-bold leading-none" href="#">
    <h1 class="text-mprimary text-[40px] font-lobster">ProgressHub</h1>
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center" (click)="toggleSidebar()">
      <ng-icon name="heroBars3" class="text-4xl text-tertiary mx-auto"></ng-icon>
    </button>
  </div>
  <ul class="hidden text-center lg:flex lg:items-center lg:w-auto mx-6 lg:space-x-6">
    <li><a class="text-lg text-gray-400 hover:text-gray-500 transition duration-200" href="#">Home</a></li>
    <li><a class="text-lg text-gray-400 hover:text-gray-500 transition duration-200" href="#" *ngIf="isAuthenticated">Dashboard</a></li>
    <li><a class="text-lg text-gray-400 hover:text-gray-500 transition duration-200" href="#">About</a></li>
    <li><a class="text-lg text-gray-400 hover:text-gray-500 transition duration-200" href="#" *ngIf="isAuthenticated&&user?.role == 'Admin'">Administration</a></li>
  </ul>
  <div *ngIf="!isAuthenticated" class="hidden lg:flex flex-row">
    <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-10 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" [routerLink]="'/login'">Login</a>
    <a class="hidden lg:inline-block py-2 px-10 bg-mtertiary text-white hover:bg-mprimary text-sm font-bold rounded-xl transition duration-200" [routerLink]="'/signup'">SignUp</a>
  </div>
      <div class="hidden lg:block" *ngIf="isAuthenticated">
        <button id="accountDropdownNormalBtn" data-dropdown-toggle="accountDropdownNormal" class="text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
          <div class="profile-section flex flex-row items-center">
            <img [src]="user?.avatar != '' ? user?.avatar : './assets/images/user-avatar.png'" class="w-10 h-10 rounded-full" alt="user-avatar">
            <p class="text-lg truncate font-outfit font-light text-tertiary ms-2">
              {{user?.nickname}}
            </p>
            <ng-icon name="heroChevronDoubleDown" class="text-lg text-tertiary ms-2 me-2 font-semibold"></ng-icon>
          </div>
        </button>
      </div>
  <!-- Dropdown menu -->
  <div id="accountDropdownNormal" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 dark:bg-gray-700 dark:divide-gray-600">
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <div class="font-medium flex flex-row items-center justify-between">
        <span>{{user?.name}} {{user?.lastName}}</span>
        <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300" *ngIf="user?.role == 'User'">User</span>
        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300" *ngIf="user?.role == 'Admin'">Admin</span>
      </div>
      <div class="truncate">{{user?.email}}</div>
    </div>
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
      <li>
        <a [routerLink]="'/account-settings'" class="flex flex-row items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          <span>Account settings</span>
          <ng-icon name="heroCog6Tooth" class="text-xl text-tertiary ms-2 me-1 font-semibold"></ng-icon>
        </a>
      </li>
      <li>
        <a href="#" (click)="logOut()" class="flex flex-row items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          <span>Log out</span>
          <ng-icon name="heroArrowRightOnRectangle" class="text-xl text-tertiary ms-2 me-1 font-semibold"></ng-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25" (click)="toggleSidebar()"></div>
  <nav class="fixed sidebar animate-close-sidebar top-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <h1 class="text-mprimary text-[40px] font-lobster">ProgressHub</h1>
      </a>
      <button class="navbar-close" (click)="toggleSidebar()">
        <ng-icon name="heroXMark" class="text-2xl text-gray-400 hover:text-gray-500 mx-auto"></ng-icon>
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-mtertiary hover:text-white rounded" href="#">Home</a>
        </li>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-mtertiary hover:text-white rounded" href="#" *ngIf="isAuthenticated">Dashboard</a>
        </li>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-mtertiary hover:text-white rounded" href="#" *ngIf="isAuthenticated&&user?.role == 'Admin'">Administration</a>
        </li>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-mtertiary hover:text-white rounded" href="#">About</a>
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6" *ngIf="!isAuthenticated">
        <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-gray-50 hover:bg-gray-100 rounded-xl" [routerLink]="'/login'">Login</a>
        <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center bg-mtertiary text-white hover:bg-mprimary font-semibold rounded-xl" [routerLink]="'/signup'">SignUp</a>
      </div>
      <div class="text-center w-100" *ngIf="isAuthenticated">
        <button id="accountDropdownSidebarBtn" data-dropdown-toggle="accountDropdownSidebar" class=" mx-auto font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
          <div class="profile-section flex flex-row items-center">
            <img [src]="user?.avatar != '' ? user?.avatar : './assets/images/user-avatar.png'" class="w-10 h-10 rounded-full" alt="user-avatar">
            <p class="text-lg truncate font-outfit font-light text-tertiary ms-2">
              {{user?.nickname}}
            </p>
            <ng-icon name="heroChevronDoubleUp" class="text-lg text-tertiary ms-2 me-2 font-semibold"></ng-icon>
          </div>
        </button>
      </div>
      <!-- Dropdown menu -->
      <div id="accountDropdownSidebar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 dark:bg-gray-700 dark:divide-gray-600">
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <div class="font-medium flex flex-row items-center justify-between">
            <span>{{user?.name}} {{user?.lastName}}</span>
            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300" *ngIf="user?.role == 'User'">User</span>
            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300" *ngIf="user?.role == 'Admin'">Admin</span>
          </div>
          <div class="truncate">{{user?.email}}</div>
        </div>
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <li>
            <a [routerLink]="'/account-settings'" class="flex flex-row items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
              <span>Account settings</span>
              <ng-icon name="heroCog6Tooth" class="text-xl text-tertiary ms-2 me-1 font-semibold"></ng-icon>
            </a>
          </li>
          <li>
            <a href="#" (click)="logOut()" class="flex flex-row items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
              <span>Log out</span>
              <ng-icon name="heroArrowRightOnRectangle" class="text-xl text-tertiary ms-2 me-1 font-semibold"></ng-icon>
            </a>
          </li>
        </ul>
      </div>
      <p class="my-4 text-xs text-center text-gray-400">
        <span>Copyright © 2024</span>
      </p>
    </div>
  </nav>
</div>
