<div class="flex px-24 py-3 flex-row items-center justify-between w-full">
  <h1 class="text-primary text-[40px] font-lobster">ProgressHub</h1>

  <div class="flex flex-row">
    <p class="text-lg font-outfit font-semibold mt-3 mx-10">
      <a [routerLink]="'/login'" class="text-tertiary font-medium">Dashboard</a>
    </p>
    <p class="text-lg font-outfit font-semibold mt-3 mx-10">
      <a [routerLink]="'/login'" class="text-tertiary font-medium">Dashboard</a>
    </p>
  </div>

  <div class="flex flex-row">
    <p class="text-normal font-outfit font-semibold mt-3 mx-10">
      <a [routerLink]="'/login'" class="text-[#414F57] font-medium">Login</a>
    </p>
    <p class="text-normal font-outfit font-semibold mt-3 mx-10">
      <a [routerLink]="'/signup'" class="text-secondary font-bold">SignUp</a>
    </p>
  </div>
</div>
