<main class="bg-grass w-screen h-screen bg-no-repeat bg-cover">
  <div class="backdrop-blur-sm w-full h-full bg-primary bg-opacity-25">
    <!-- normal container -->
    <div
      *ngIf="isSuccess == 0 && !isLoading"
      class="w-verification shadow-xl h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <h1 class="text-primary text-logo font-lobster">ProgressHub</h1>
      <p class="font-outfit font-normal mt-10">
        Please confirm your account by entering the confirmation code that was
        sent to <span class="text-secondary font-semibold">{{ email }}</span>
      </p>
      <div class="flex justify-center mt-20 mb-20">
        <ngx-otp-input
          [config]="otpInputConfig"
          class="scale-150 font-outfit text-primary l caret-secondary"
          (otpChange)="onOtpChange($event)"
        ></ngx-otp-input>
      </div>
      <p class="font-outfit font-normal mt-10">
        Didn't receive your code or has it expired?
        <a
          class="text-secondary font-semibold hover:cursor-pointer"
          (click)="resend()"
        >Please resend the code</a
        >
      </p>

      <button
        id="signupButton"
        class="border-white border-solid border w-full py-3 px-10 rounded-xl mt-16 duration-300"
        [ngClass]="[
          isEnabled
            ? 'bg-[#ECF1CC] text-[#637200] hover:bg-[#F1FABB] hover:text-[#5E6B01]'
            : 'bg-[#F8FBE4] text-[#E3EE97]'
        ]"
        [disabled]="!isEnabled"
        type="button"
        (click)="sendRequest()"
      >
        Verify
      </button>
    </div>

    <!-- result for verification -->
    <div
      *ngIf="isSuccess != 0 && !isResend && !isLoading"
      class="flex shadow-xl justify-center items-center w-verification h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <div *ngIf="isSuccess == 1">
        <ng-icon
          name="heroCheckCircle"
          class="text-icon text-primary"
        ></ng-icon>
        <h1 class="text-primary text-lg font-outfit font-semibold">
          Successfully verified!
        </h1>
      </div>

      <div *ngIf="isSuccess == 2">
        <ng-icon name="heroXCircle" class="text-icon text-invalid"></ng-icon>
        <h1 class="text-invalid text-lg font-outfit font-semibold">
          Error occured!
        </h1>
      </div>
    </div>

    <!-- result for resend -->
    <div
      *ngIf="isSuccess != 0 && isResend && !isLoading"
      class="flex shadow-xl justify-center items-center w-verification h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <div *ngIf="isSuccess == 1">
        <ng-icon name="heroEnvelope" class="text-icon text-secondary"></ng-icon>
        <h1 class="text-secondary text-lg font-outfit font-semibold">
          Successfully sent! Please check your email.
        </h1>
      </div>

      <div *ngIf="isSuccess == 2">
        <ng-icon name="heroFaceFrown" class="text-icon text-invalid"></ng-icon>
        <h1 class="text-invalid text-lg font-outfit font-semibold">
          Error occured while sending email!
        </h1>
      </div>
    </div>

    <!-- loading -->
    <div
      *ngIf="isLoading"
      class="w-verification shadow-xl h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <div class="flex w-full h-full items-center flex-col justify-center">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</main>
