<main class="bg-grass w-screen h-screen bg-no-repeat bg-cover">
  <div class="backdrop-blur-sm w-full h-full bg-primary bg-opacity-25">
    <!-- normal container -->
    <div
      class="w-verification shadow-xl h-[420px] bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <h1 class="text-primary text-logo font-lobster">Change password</h1>
      <p class="font-outfit font-normal">
        You will be redirected to <span class="text-secondary font-semibold">login</span>
        page after changing your password
      </p>

      <form method="post" [formGroup]="changePasswordForm" class="mt-10 w-full px-20">
        <div class="mt-12 relative">
          <label
            for="password"
            id="passwordLabel"
            class="block font-outfit font-semibold text-start text-sm mb-1 ms-2"
            [ngClass]="[isValidPassword ? 'text-tertiary' : 'text-invalid']"
          >Password</label
          >
          <input
            type="password"
            id="password"
            class="border-solid border w-full p-3 border-button rounded-xl font-outfit"
            formControlName="password"
            [ngClass]="[isValidPassword ? 'border-button' : 'border-invalid']"
          />
          <span
            class="block font-outfit font-normal text-sm text-invalid mb-1 ms-2 absolute -bottom-12"
            *ngIf="!isValidPassword"
            id="passwordMessage"
          >Please enter valid password (You have to use uppercase and
              lowercase letter, special character, digit)</span
          >
        </div>
      </form>
      <div class="px-20">
        <button
          id="signupButton"
          class="border-white border-solid border w-full py-3 px-10 rounded-xl mt-16 duration-300"
          [ngClass]="[
          isEnabled
            ? 'bg-[#ECF1CC] text-[#637200] hover:bg-[#F1FABB] hover:text-[#5E6B01]'
            : 'bg-[#F8FBE4] text-[#E3EE97]'
        ]"
          (click)="changePassword()"
          [disabled]="!isEnabled"
          type="button"
        >
          Change
        </button>

      </div>
    </div>

    <!-- result for change -->
    <div
      *ngIf="isSuccess != 0 && !isLoading"
      class="flex shadow-xl w-verification h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <div *ngIf="isSuccess == 1" class="w-full">
        <h1 class="text-primary text-logo font-lobster">ProgressHub</h1>
        <div class="flex w-100 flex-col mt-20 mb-20">
          <ng-icon
            name="heroCheckCircle"
            class="text-icon text-primary mx-auto"
          ></ng-icon>
          <h1 class="text-primary text-[40px] font-outfit font-semibold">
            Success
          </h1>
          <p class="text-[#d7dbdd] text-sm font-outfit mt-32 font-semibold">
            Password changed successfully. You will be redirected to login page.
          </p>
        </div>
      </div>

      <div *ngIf="isSuccess == 2" class="w-full">
        <h1 class="text-invalid text-logo font-lobster">ProgressHub</h1>
        <div class="flex w-100 flex-col mt-20 mb-20">
          <ng-icon name="heroXCircle" class="text-icon text-invalid mx-auto"></ng-icon>
          <h1 class="text-invalid text-[40px] font-outfit font-semibold">
            Error
          </h1>
          <p class="text-[#d7dbdd] text-sm font-outfit mt-32 font-semibold">
            Something went wrong. Please try again later.
          </p>
        </div>
      </div>
    </div>

    <!-- loading -->
    <div
      *ngIf="isLoading"
      class="w-verification shadow-xl h-verification bg-white border border-white text-center p-10 rounded-3xl absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
    >
      <div class="flex w-full h-full items-center flex-col justify-center">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</main>

