<main class=" w-screen h-screen">
  <div class="w-full h-full">
    <ngx-particles
      [id]="'tsParticles'"
      [options]="particlesOptions"
      class="w-full h-full absolute -z-50"
    ></ngx-particles>

    <div *ngIf="!isLoading" class="h-full w-sidepanel overflow-y-auto sidepanel max-md:w-full bg-white pt-3 ps-8">
      <h1 class="text-msecondary text-logo font-lobster">ProgressHub</h1>
      <h2 class="text-msecondary text-header font-lobster mt-9">
        Login to your account
      </h2>
      <p class="text-normal font-outfit font-semibold mt-3">
        Don’t have an account?
        <a [routerLink]="'/signup'" class="text-mprimary font-bold">Sign Up</a>
      </p>
      <form method="post" class="pe-8 mt-10" [formGroup]="loginForm">
        <app-google-signin (loginWithGoogle)="googleSignIn($event)" [isValid]="isExternalLoginValid"></app-google-signin>
        <div class="flex flex-row mt-10">
          <div
            class="flex-1 h-0.5 border-b w-max border-button mr-2 my-2"
          ></div>
          <span class="text-tertiary text-sm font-outfit font-medium">
            Or with email and password
          </span>
          <div
            class="flex-1 h-0.5 border-b w-max border-button -mr-2 ml-1 my-2"
          ></div>
        </div>

        <div class="mt-10">
          <div class="w-full text-center mb-4">
            <span
              *ngIf="!isValidData"
              class="font-outfit font-normal text-sm text-invalid"
              >Please provide a valid email address and password</span
            >
          </div>
          <label
            for="email"
            class="block font-outfit font-semibold text-sm mb-1 ms-2"
            [ngClass]="[isValid ? 'text-tertiary' : 'text-invalid']"
            >Email Address</label
          >
          <div class="relative">
            <input
              type="text"
              id="email"
              class="border-solid border w-full p-3 rounded-xl font-outfit"
              formControlName="email"
              [ngClass]="[
                isValid ? 'border-button' : 'border-invalid',
                isNextStep ? 'bg-disabled text-disabled' : ''
              ]"
              [readonly]="isNextStep"
            />
            <div
              class="absolute top-1/2 right-3 transform -translate-y-1/2"
              *ngIf="isNextStep"
            >
              <button
                class="w-auto h-auto text-mprimary text-base"
                (click)="previousStep()"
                type="button"
              >
                Change
              </button>
            </div>
          </div>
          <span
            class="block font-outfit font-normal text-sm text-invalid mb-1 ms-2"
            id="errorMessage"
            *ngIf="!isValid"
            >Input is not valid</span
          >
        </div>

        <div class="mt-10" *ngIf="isNextStep">
          <label
            for="password"
            class="block font-outfit font-semibold text-sm mb-1 ms-2"
            [ngClass]="[isValidPassword ? 'text-tertiary' : 'text-invalid']"
            >Password</label
          >
          <input
            type="password"
            id="password"
            class="border-solid border w-full p-3 rounded-xl font-outfit"
            formControlName="password"
            [ngClass]="[isValidPassword ? 'border-button' : 'border-invalid']"
          />
          <span
            class="block font-outfit font-normal text-sm text-invalid mb-1 ms-2"
            *ngIf="!isValidPassword"
            >Input is not valid</span
          >
        </div>
        <div class="w-full text-end mt-4">
          <a
            *ngIf="isNextStep"
            (click)="forgotPassword()"
            class="text-mprimary text-base text-end hover:cursor-pointer"
            >Forgot password?</a
          >
        </div>
        <button
          *ngIf="!isNextStep"
          class="border-white border-solid border w-auto py-3 px-10 mb-10 rounded-xl mt-10 duration-300"
          [ngClass]="[
            isEnabled
              ? 'bg-mtertiary text-white hover:bg-msecondary'
              : 'bg-mlight text-msemidark'
          ]"
          [disabled]="!isEnabled"
          (click)="nextStep()"
        >
          Next
        </button>

        <button
          *ngIf="isNextStep"
          class="border-white border-solid border w-full py-3 px-10 mb-10 rounded-xl mt-16 duration-300"
          [ngClass]="[
            isEnabled
              ? 'bg-mtertiary text-white hover:bg-msecondary'
              : 'bg-mlight text-msemidark'
          ]"
          [disabled]="!isEnabled"
          (click)="login()"
        >
          Login
        </button>
      </form>
    </div>

    <div *ngIf="isLoading" class="h-full w-sidepanel max-md:w-full bg-white">
      <div class="flex w-full h-full items-center flex-col justify-center">
        <h2 class="text-mprimary text-header font-lobster">ProgressHub</h2>
        <mat-spinner [diameter]="40" class="mt-10"></mat-spinner>
      </div>
    </div>

  </div>
</main>
