
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other pages in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
  50: #E0F2F1,
  100: #B2DFDB,
  200: #80CBC4,
  300: #4DB6AC,
  400: #26A69A,
  500: #009688,
  600: #00897B,
  700: #00796B,
  800: #00695C,
  900: #3FA99B,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  )
);

$secondary: (
  50: #f1f8e9,
  100: #dcedc8,
  200: #c5e1a5,
  300: #aed581,
  400: #9ccc65,
  500: #8bc34a,
  600: #7cb342,
  700: #689f38,
  800: #558b2f,
  900: #33691e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  )
);
$ProgressHubWeb-primary: mat.define-palette($primary);
$ProgressHubWeb-accent: mat.define-palette($secondary);

// The warn palette is optional (defaults to red).
$ProgressHubWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ProgressHubWeb-theme: mat.define-light-theme((
  color: (
    primary: $ProgressHubWeb-primary,
    accent: $ProgressHubWeb-accent,
    warn: $ProgressHubWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ProgressHubWeb-theme);

