
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other pages in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
  50: #E0F2F1,
  100: #B2DFDB,
  200: #80CBC4,
  300: #4DB6AC,
  400: #26A69A,
  500: #009688,
  600: #00897B,
  700: #00796B,
  800: #00695C,
  900: #3FA99B,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$secondary: (
  50: #f1f8e9,
  100: #dcedc8,
  200: #c5e1a5,
  300: #aed581,
  400: #9ccc65,
  500: #8bc34a,
  600: #7cb342,
  700: #689f38,
  800: #558b2f,
  900: #33691e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$red : (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #cc382e,
  600: #E53935,
  700: #D32F2F,
  800: #C62828,
  900: #B71C1C,
  A100: #FF8A80,
  A200: #FF5252,
  A400: #FF1744,
  A700: #D50000,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

$orange: (
  50: #FFF3E0,
  100: #FFE0B2,
  200: #FFCC80,
  300: #FFB74D,
  400: #FFA726,
  500: #FF9800,
  600: #FB8C00,
  700: #F57C00,
  800: #EF6C00,
  900: #E65100,
  A100: #FFD180,
  A200: #FFAB40,
  A400: #FF9100,
  A700: #FF6D00,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);
$ProgressHubWeb-primary: mat.define-palette($primary);
$ProgressHubWeb-accent: mat.define-palette($secondary);
$ProgressHubWeb-warn: mat.define-palette($red);
// The warn palette is optional (defaults to red).

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ProgressHubWeb-theme: mat.define-light-theme((
  color: (
    primary: $ProgressHubWeb-primary,
    accent: $ProgressHubWeb-accent,
    warn: $ProgressHubWeb-warn,
  )
));


$admin-red: mat.define-palette($red);
$admin-orange: mat.define-palette($orange);

$admin-theme: mat.define-dark-theme((
  color: (
    primary: $admin-red,
    accent: $ProgressHubWeb-accent,
    warn: $admin-orange,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ProgressHubWeb-theme);

