<main class="w-screen h-screen">
  <app-navbar></app-navbar>

  <div id="container" class="flex h-[calc(100%-6rem)] w-full ">
    <ngx-particles
      [options]="particlesOptions"
      class="w-full  h-full -z-50"
    ></ngx-particles>
    <div class="absolute top-1/2 left-1/2 text-center -translate-x-1/2 -translate-y-1/2 max-xs:scale-50 max-sm:scale-75 max-lg:scale-95  hover:cursor-default select-none">
      <p class="text-black text-xl tracking-[0.75rem] font-outfit">Be the best version of yourself</p>
      <h1 class="text-black text-[100px] font-outfit bg-gradient-to-r from-[#039F86] to-[#45C6A3] bg-clip-text text-transparent">Progress Hub</h1>
    </div>

  </div>
</main>
